registry=http://10.0.0.194:8000/
@request:registry=https://registry.npmjs.org/
@types:registry=https://registry.npmjs.org/
@remy:registry=https://registry.npmjs.org/
@newrelic:registry=https://registry.npmjs.org/
@tyriar:registry=https://registry.npmjs.org/
@babel:registry=https://registry.npmjs.org/
@mrmlnc:registry=https://registry.npmjs.org/
@nodelib:registry=https://registry.npmjs.org/
@snyk:registry=https://registry.npmjs.org/
@yarnpkg:registry=https://registry.npmjs.org/
@sindresorhus:registry=https://registry.npmjs.org/
@szmarczak:registry=https://registry.npmjs.org/
